/*浮动+外边距*/
/*html{
    background-color: white;
}
.left,.main,body{
    padding: 20px;
    position:relative;
}
body{
    background-color: #eee;
    border: 1px solid #999;
    min-height: 440px;
    min-width: 600px;
}
img{
    width: 80px;
    height: 80px;
    border: 1px solid #999;
}
.personallogo{
    margin: 20px 0;
}
.teamlogo{
    float: left;
}
.teamname{
    position: absolute;
    right: 20px;
    top: 0;
    font-size: 20px;
    font-weight: bold;
}
.left,.right,.main{
    background-color: white;
    border: 1px solid #999;
}
.left{
    float: left;
    width:160px;
}
.right{
    float: right;
    width:80px;
    padding: 0 20px;
}
.main{
    margin:0px 140px 0px 220px;
}*/
body{
    min-width:600px;
}
.left,.right,.main{
    height:500px;
}
.grid{
    display: flex;
}
.left,.right{
    width:200px;                /*左右栏固定宽度*/
    background-color: #bbb;
}
.main{
    flex: 1;                    /*中间栏自适应*/
    margin:0 20px;
    background-color: burlywood;
}